@model  WebApplication1.Models.ModelMail
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
   
    @using (Html.BeginForm("Sending", "Mail", FormMethod.Post))
    {       
       
        <h2>Subject</h2>
        <br />
        @Html.TextBoxFor(m => m.subject, new { @class = "form-control", required = "required" })
        <br />

        <h2>Value</h2>
        <br />
        @Html.TextAreaFor(m => m.value, new { @class = "form-control", required = "required" })

        @Html.HiddenFor(m => m.from, new { @Value = @Model.from})
        @Html.HiddenFor(m => m.to, new { @Value = @Model.to})


        <br />
        <input class="btn btn-primary" type="submit" value="submit" />
    }
</div>