@model WebApplication1.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="=" width="device-width" />
    <title>Login</title>
    <style>
        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            border: 1px solid #ccc;
            padding: 10px 10px;
        }
    </style>
</head>
<body>
    <div class="container" id="login-div">
        @using (Html.BeginForm("Autherize", "Login", FormMethod.Post))
        {
            <h2 class="form-signin-heading">Please login</h2>
            <div class="form-group">
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name, new { @class = "form-control" })
                <br />
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password)
                @Html.EditorFor(model => model.Password, new { @class = "form-control" })
                <br />
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div style="text-align: center">

                <input class="btn btn-primary" style="display: table-cell" type="submit" name="name" value="Login" />
                <input class="btn btn-primary" style="display: table-cell" type="reset" name=" name" value="Clear" />
            </div>
         }
    </div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>